/* App.css */

/* Стили для категории */
.category {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* Стили для подкатегории */
.sub-category {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Уберем стандартные маргины для списков */
ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.created{
  position: absolute;
  top: 0;
  left: 0;
}